body {
  @extend %quicksand-500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: $default-color;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  @extend %roboto-700;
  font-size: 48px;
  color: $title-color;
  text-align: center;
  text-transform: uppercase;
}
.title-text {
  text-align: center;
  max-width: 530px;
  margin: 0 auto;
}
.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    position: relative;
    &:first-child {
      padding-left: 24px;
      &::before {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 16px;
        height: 16px;
        background-image: url('@img/icons/home.svg');
      }
    }
    &:last-child {
      .breadcrumbs__link {
        color: $accent-color;
      }
    }
    &:not(:last-child) {
      margin-right: 16px;
      padding-right: 24px;
      &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 0;
        width: 9px;
        height: 10px;
        background-image: url('@img/icons/angle-right.svg');
      }
    }
  }
  &__link {
    color: #727272;
  }
}
.socials {
  display: flex;
  align-items: center;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__link {
    path {
      transition: 0.3s;
      fill: $default-color;
    }
    &:hover {
      path {
        fill: $accent-color;
      }
    }
  }
}
.blog-box-info {
  display: flex;
  justify-content: space-between;
}
.blog-date {
  @extend %roboto-400;
  position: relative;
  padding-left: 27px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('@img/icons/date.svg');
  }
}
