body {
  @extend %quicksand-500;
  font-size: 16px;
  line-height: calc(26/16);
  color: $default-color;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
