$accent-color: #fe3e57;
$default-color: #8d8d8d;
$title-color: #29282d;

%quicksand-400 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
%quicksand-500 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
%btn {
  background-color: $accent-color;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 38px;
  @extend %roboto-400;
  letter-spacing: 1px;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  &:hover {
    background-color: #fff;
    color: $accent-color;
    box-shadow: inset 0 0 0 1px $accent-color, 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    transition: 0.3s;
  }
}
