@import 'fonts';
@import 'vars';
@import 'libs';
@import 'reset';
@import 'global';

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  &__list-link {
    padding: 2px 0;
    @extend %roboto-400;
    text-transform: uppercase;
    color: $title-color;
    transition: 0.3s;
    &--active {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
      @extend %roboto-700;
    }
    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }
}
.user-nav {
  &__list {
    display: flex;
  }
  &__list-item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  &__list-link {
    position: relative;
  }
  &__num {
    position: absolute;
    top: -8px;
    right: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent-color;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}
.footer {
  background-color: #f6f6f6;
}
.footer-top {
  &__inner {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    padding: 70px 0 30px;
    border-bottom: 1px solid #ececec;
  }
  &__connect {
    max-width: 260px;
  }
  &__subscribe {
    max-width: 470px;
  }
  &__item {
  }
  &__logo {
    margin-bottom: 35px;
  }
  &__contacts {
    margin-bottom: 30px;
  }
  &__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__contacts-link {
    transition: 0.3s;
    &:hover {
      color: $accent-color;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
  }
  &__socials-item:not(:last-child) {
    margin-right: 10px;
  }
  &__socials-link {
    path {
      transition: 0.3s;
      fill: $default-color;
    }
    &:hover {
      path {
        fill: $accent-color;
      }
    }
  }
  &__item-title {
    @extend %roboto-500;
    font-size: 22px;
    line-height: calc(36 / 22);
    color: $title-color;
    margin-bottom: 30px;
    margin-top: -7px;
  }
  &__links {
  }
  &__links-item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__link {
    transition: 0.3s;
    &:hover {
      color: $accent-color;
    }
  }
  &__account {
  }
  &__account-item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__account-link {
    transition: 0.3s;
    &:hover {
      color: $accent-color;
    }
  }
  &__form {
  }
  &__form-text {
    margin-bottom: 30px;
  }
  &__form-input {
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    padding: 16px 10px;
    margin-right: 10px;
    &::placeholder {
      color: $default-color;
      @extend %quicksand-500;
      font-size: 16px;
    }
  }
  &__form-btn {
    @extend %btn;
    padding: 15px 20px;
  }
}
.footer-bottom {
  padding: 25px 0;
  font-size: 12px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    line-height: calc(34 / 12);
  }
  &__payments {
    span {
      margin-right: 18px;
      line-height: calc(34 / 12);
    }
    img {
      vertical-align: sub;
    }
    picture + picture {
      margin-left: 23px;
    }
  }
}
.top-slider {
  background-color: #f6f6f6;
  background-image: url('@img/decor/top-slider-decor.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 60px;
  &__container {
    max-width: 1520px;
  }
  &__inner {
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__content {
    padding: 125px 0 0 145px;
  }
  &__title {
    @extend %roboto-700;
    font-size: 58px;
    line-height: calc(68 / 58);
    color: $title-color;
    margin-bottom: 35px;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__btn {
    @extend %btn;
  }
  &__img {
  }
  .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    font-size: 0;
    li + li {
      margin-left: 5px;
    }
    button {
      position: relative;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      border: 1px solid transparent;
      &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $default-color;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .slick-active {
      button {
        border: 1px solid $accent-color;
        &::after {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $accent-color;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
.category {
  position: relative;
  padding: 120px 0;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 220px;
    height: 670px;
    top: 50%;
    transform: translateY(-60%);
    left: 0;
    background-image: url('@img/decor/category-decor-left.png');
    background-repeat: no-repeat;
  }
  &::after {
    left: auto;
    right: 0;
    background-image: url('@img/decor/category-decor-right.png');
  }
  &__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    &:after,
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -40px;
      left: -40px;
      width: 120px;
      height: 120px;
      background-image: url('@img/decor/category-info-1.svg');
    }
    &::before {
      background-image: url('@img/decor/category-info-2.svg');
      width: 65px;
      height: 53px;
      top: auto;
      left: auto;
      bottom: -25px;
      right: -23px;
    }
  }
  &__info-item {
    max-width: 370px;
    padding: 60px 40px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    background-color: #fff;
    svg {
      margin-bottom: 35px;
    }
  }
  &__info-title {
    @extend %roboto-400;
    font-size: 22px;
    line-height: calc(26 / 22);
    color: $title-color;
    margin-bottom: 10px;
  }
  &__info-text {
  }
  &__top {
  }
  &__top-title {
    margin-bottom: 20px;
  }
  &__top-text {
    margin: 0 auto 60px;
  }
  &__top-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    min-height: 635px;
  }
}
.item-top {
  padding: 35px 0 0 35px;
  background-repeat: no-repeat;
  background-size: cover;
  &:nth-child(1) {
    grid-row: span 2;
    background-image: url('@img/content/category/category-top-1.jpg');
    .item-top__subtitle {
      color: #5800e4;
    }
  }
  &:nth-child(2) {
    padding-top: 100px;
    grid-column: span 2;
    background-image: url('@img/content/category/category-top-2.jpg');
    .item-top__subtitle {
      color: $accent-color;
    }
  }
  &:nth-child(3) {
    background-image: url('@img/content/category/category-top-3.jpg');
    .item-top__subtitle {
      color: #ffb534;
    }
  }
  &:nth-child(4) {
    background-image: url('@img/content/category/category-top-4.jpg');
    .item-top__subtitle {
      color: #34c3ff;
    }
  }
  &__subtitle {
  }
  &__title {
    @extend %roboto-500;
    font-size: 22px;
    color: $title-color;
  }
  &__link {
    @extend %roboto-400;
    color: $title-color;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    &:hover {
      color: $accent-color;
      border-bottom: 1px solid $accent-color;
    }
  }
}
.tranding-fashion {
  padding: 120px 0 120px;
  background-image: url('@img/content/tranding-fashion/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__video {
    min-height: 485px;
    max-width: 528px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('@img/content/tranding-fashion/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__video-link {
  }
  &__content {
    max-width: 570px;
    padding: 75px 0 82px;
  }
  &__content-subtitle {
    font-size: 22px;
    color: $accent-color;
    margin-bottom: 25px;
  }
  &__content-title {
    @extend %roboto-700;
    font-size: 48px;
    color: $title-color;
  }
  &__content-text {
    margin-bottom: 65px;
  }
  &__content-link {
    @extend %btn;
    padding: 12px 37px;
  }
}

@import 'media';
